:root {
  --main-color: #1e293b;
  --secundary-color: #dce4f2;
  --main-font:"Josefin Sans", sans-serif;
  box-sizing: border-box;
}

/********************* HEADER ********************/

header{
    display: grid;
    grid-template-columns: 24px auto 44px ;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
    background-color: var(--main-color);
}
header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
header span{
    font-size: 1.2rem;
    color: var(--secundary-color);
}

/**************** HAMBURGER NAVIGATION ****************/

.hamburger{
    background-color: var(--secundary-color);
    border: none;
    color: var(--main-color);
    cursor: pointer;
    font-family: var(--main-font) ;
    font-size: 1.5rem;
}

.hamburger::before{
    content: "\2630";
}
.hamburger.show::before {
    content: "\00D7";
    font-size: 3rem;
}

/**************** NAVIGATION ****************/

.navigation{
    display: none;
}
.navigation.show{
    display: block;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}
.navigation a:hover{
    background-color: #010f29;
}
.navigation a{
    display: block;
    padding: .8rem 10px;
    color: white;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    font-size: 1.2rem;
}
.navigation li.current{
    background-color: #eee;
}
h1{
    margin-left: 10px;
    color: var(--main-color);
}

/****************** HERO SECTION ****************/
.hero {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.hero picture,
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-button {
  width: 9rem;
  position: absolute;
  bottom: 1rem;
  left: 80%;
  transform: translateX(-50%);
  background-color: #f7c948;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #ffe27a;
}


/**************** FOTTER ****************/

footer {
  background-color: var(--main-color);
  color: #fff;
  text-align: left;
  padding: 1.5rem 1rem;
}

.footer-info p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
}

.social {
  margin: 1rem 0;
}

.social a img {
  text-align: center;
  margin: 0 0.4rem;
  filter: invert(1);
  transition: transform 0.3s ease;
  width: 30px;
  height: 30px;
}

.social a img:hover {
  transform: scale(1.2);
}

.lastModified {
  font-size: 1rem;
  color: var(--secundary-color);
}

/**********DIRECTORY***********/

.view-buttons {
  text-align: center;
  margin: 1rem;
}
.view-buttons button {
  background-color: white;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 0.5rem;
}
.view-buttons button.active {
  background-color: var(--main-color);
  color: white;
}
.directory.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.directory.list section {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
}

.directory.list section:nth-child(odd) {
  background-color: #f9f9f9;
}

.directory.list section:nth-child(even) {
  background-color: #e5ebf0;
}

.directory.grid section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.directory img {
  width: 100px;
  height: auto;
  margin-bottom: 0.5rem;
}
.directory a {
  color: #1e40af;
  text-decoration: none;
}
