@media only screen and (min-width: 38rem){
    header, main, nav, footer{
        max-width: 900px;
        margin: 0 auto;
    }
    header{
        grid-template-columns: 20px auto ;
    }
    .hamburger{
    display: none;
    }
    .navigation{
    display: block;
    border-bottom: solid 1px #eee;
    }
    .navigation ul{
        display: flex;
    }
    .navigation a{
        border: none;
    }
    /*************** MAIN ************/ 
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    main h1{
        grid-column: 1/3;
        grid-row: 1;
        
    }
    /**************** COURSES SECTION ****************/
    .web{
        grid-column: 1/3;
    }
    .h2{
        margin-top: -10px;
    }
    .course-container {
    grid-template-columns: 1fr 1fr 1fr;
    }
}